body {
	margin:0;
	font-family: arial;
}
.navmeny {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #cf1515;
	border-bottom: 1px solid black;
}
.navmeny li {
	float: left;
}
.navmeny li a {
	display: block;
	text-align: center;
	padding: 10px 50px;
	text-decoration: none;
	color: white;
}
li a:hover {
	background-color: #ababab;
}
.aktiv {
	background-color: #5aa61f;
}
.mat {
	margin-top: 50px;
}
.mat li {
	font-size: 15px;
	list-style-type: none;
	padding: 20px;
}
h1 {
	margin: 20px;
}